button {
  outline: none;
  cursor: pointer;
  min-width: 200px;
  color: white;
  border: 2px solid;
  border-radius: 20px;
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 15px;
  opacity: 0.4;
}

button[data-action="show"] {
  background-color: red;
}

button[data-action="hide"] {
  background-color: gray;
}

.active {
  opacity: 0.9;
}

.active:hover {
  opacity: 1;
}

.hide {
  height: 0px;
  overflow: hidden;  
}

li {
  list-style-position: inside;
  height: 20px;
  transition: height .3s ease-out;
}

